<% content_for :form do %>
    <form class="form">
        <div class="input-group flex">
            <input type="text" class="form-control" id="url-input" placeholder="Enter a link to shorthen it" 
            name="url">
            <input type="submit" class="copy btn btn-danger" value="SHORTEN" id="submit">
        </div>
    </form>
    <div class="result-panel" id="result-panel">
    	<h4 class="link" id="url-text"></h4>
    	<div class="short flex">
    		<a class="short-link" target="_blank" href="" id="short-url-text"></a>
    		<input type="submit" class="btn btn-small" id="copy" value="COPY">
    		<i class="fa fa-bar-chart chart" aria-hidden="true"><p id="counter"></p></i>
    	</div>
    </div>
<% end %>


