<% content_for :table do %>
  <% @urls.each_with_index do |url, index| %>
      <tr class="t-row">
        <th><%= index + 1 %></th>
        <td><%= truncate(url.url) %></td>
        <td class="link-to"><%= url.short_form %></td>
        <td><%= url.counter %></td>
      </tr>
    <%end%>
<% end %>
 