<form action="/urls/create" method="POST" class="form">
	<div class="input-group flex">
		<input type="text" name="url" placeholder="Past A Link To Shorten It" class="form-control long-url">
		<input type="submit" class="btn btn-danger" value="SHORTEN">
	</div>
</form>